.input {
	margin-bottom: 15px;
}

.input:after{
  content: "";
  display: table;
  clear: both;
}

.input-label{
	font-size: 14px;
	color: black;
	text-transform: uppercase;
	color:#000;
	margin-bottom: 10px;
	display: block;
	padding-top: 15px;
	font-weight: 700;


}
.input-field{
	font-size: 14px;
	padding: 10px;
	color:black;
	display: block;
	width: 100%
}



.input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
.input ::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.input :-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.input :-moz-placeholder { /* Firefox 18- */
  color: pink;
}


/* INPUTE INLNIE REGISTRATION PAGE*/

.input-inline .input-label{
	float: left;
	width: 20%
}

.input-inline .input-field{
	float: left;
	width: 79%;
	margin-left: 1%;
}
/*PROFILE PAGE*/
.input-left{
    width: 50%;
    float: left;
    padding-right: 30px;
}
.input-right{
    width: 50%;
    float: right;
    padding-left: 10px;
}
.input-down{
    width: 100%;
    float: left;
}
