.button {
	color: #46B3AA;
	background-color: #4D394B;
	box-shadow: 0px 1px 15px 0px #DDD;
	padding: 15px 20px;
	
	width: 100%;
	margin-top: 17px;
	cursor: pointer;
}
.button:hover{
	color: white;
}
.button-show {
	color: #46B3AA;
	background-color: #4D394B;
	box-shadow: 0px 1px 15px 0px #DDD;
	padding: 5px 17px;
	max-width: 570px;
	cursor: pointer;
	margin:3px;
}