table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #E7E7E7;
}

td, th {
 
    text-align: left;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #F1F1F1 ;
}
th{
	background-color: #FFF;
	text-transform: uppercase;
}
