table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #E7E7E7;
}

td, th {
 
    text-align: left;
    padding: 17px;
    
}

tr:nth-child(even) {
    background-color: #F1F1F1 ;
}
th{
	background-color: #FFF;
	text-transform: uppercase;

}
#text-right{
	text-align: right;
}
.Menus{
    width: 100%;
    padding:20px;
}
.panel-menus{
    padding: 25px;
    width: 92%;
    background-color: #FFF;
    box-shadow: 1px 2px 1px 2px #DDD;
    margin: 56px 56px;
}
