<link rel="stylesheet" type="text/css" href="../normalize.css">
<link rel="stylesheet" type="text/css" href="../reset.css">
<link rel="stylesheet" type="text/css" href="table.css">


<!-- COMPONENT MARKUP -->
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td ></td>
  </tr>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr>
  </tr>
</table>
