<link rel="stylesheet" type="text/css" href="../normalize.css">
<link rel="stylesheet" type="text/css" href="table.css">


<!-- COMPONENT MARKUP -->
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr>
  <tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr><tr>
    <td>01.07.2016</td>
    <td>LOrem Ipsym</td>
    <td></td>
  </tr>
  </tr>
</table>
