.navigation{
	color: #47A6A0;
	background-color: #4D394B;
	text-align: center;
	padding: 5px;
	width:100%;
}

.menu-item{
	
	display:inline;
	padding: 25px;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	font-weight: 700;

}

.menu-item:hover{
	color: white;
}
#singin{
	text-align: right;
}