.footer{
	color: #45B5AB;
	background-color: #392537;
	text-align: center;
	padding: 10px;

	
}

li{
	display:inline;
	padding: 25px;
	font-size: 14px;
	cursor: pointer;
}
#footer-rights{
	text-transform: uppercase;
	font-size: 12px;
}
li:hover{
	color:white;
}