<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../normalize.css">
<link rel="stylesheet" type="text/css" href="../button/button.css">
<link rel="stylesheet" type="text/css" href="../reset.css">
<link rel="stylesheet" type="text/css" href="../footer/footer.css">
<link rel="stylesheet" type="text/css" href="../input/input.css">
<link rel="stylesheet" type="text/css" href="../logo/logo.css">
<link rel="stylesheet" type="text/css" href="../navigation/navigation.css">
<link rel="stylesheet" type="text/css" href="../panel/panel.css">
<link rel="stylesheet" type="text/css" href="../panel-title/panel-title.css">
<link rel="stylesheet" type="text/css" href="../table/table.css">
<head>
	<title>About</title>
	<nav class="navigation">
	<img class="logo" src="http://placehold.it/200x50">
	<ul>
		<li class="menu-item"><a href="menu.html">Menus</a></li>
		<li class="menu-item"><a href="addmenu.html">Add menu</a></li>
		<li class="menu-item"><a href="editmenu.html">Edit menu</a></li>
		<li class="menu-item"><a href="order.html">Order</a></li>
		<li class="menu-item"><a href="profile.html">Profile</a></li>
		<li class="menu-item"><a href="about.html">About</a></li>
		<li class="menu-item"><a href="registrationform.html">Logout</a></li>
	</ul>
</nav>
</head>
<body>
	<div>
		<div class="panel top-side">
			<h3 class="panel-title">We have the best food in town</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend quis mauris non placerat. Nam ac neque at mauris fringilla sagittis euismod tempor orci. Phasellus eu mattis nisi, nec bibendum nisi. Etiam ac leo interdum, feugiat magna vitae, commodo orci. Suspendisse sem dui, dapibus in sagittis non, bibendum non dolor. 
			</p>
			<p>Donec id egestas tortor. Maecenas efficitur magna eu ipsum vehicula porta. Integer mauris metus, commodo eu nisl ac, bibendum posuere metus. Proin condimentum nisl in sem scelerisque tempus. Donec interdum nulla sed risus pharetra, et iaculis lorem euismod. Aenean ut lorem id purus varius accumsan. Duis in nulla nibh.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend quis mauris non placerat. Nam ac neque at mauris fringilla sagittis euismod tempor orci. Phasellus eu mattis nisi, nec bibendum nisi. Etiam ac leo interdum, feugiat magna vitae, commodo orci. Suspendisse sem dui, dapibus in sagittis non, bibendum non dolor. 
			</p>
		</div>
		<div class="panel bottom-side">
			<h3 class="panel-title">Get in touch with us:</h3>
			<p>Email: my email@gmail.com</p>
			<p>Phone: 0758994987</p>
		</div>
	</div>
</body>
<footer class="footer">
	<ul>
		<li><a href="about.html">About</a></li>
		<li><a href="profile.html">Profile</a></li>
		<li><a href="about.html">Order</a></li>
	</ul>
	<p id="footer-rights">©Assist software 1992-2016. All rights reserved.</p>
</footer>
</html>