<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../normalize.css">
<link rel="stylesheet" type="text/css" href="../button/button.css">
<link rel="stylesheet" type="text/css" href="../reset.css">
<link rel="stylesheet" type="text/css" href="../footer/footer.css">
<link rel="stylesheet" type="text/css" href="../input/input.css">
<link rel="stylesheet" type="text/css" href="../logo/logo.css">
<link rel="stylesheet" type="text/css" href="../navigation/navigation.css">
<link rel="stylesheet" type="text/css" href="../panel/panel.css">
<link rel="stylesheet" type="text/css" href="../panel-title/panel-title.css">
<link rel="stylesheet" type="text/css" href="../table/table.css">
<head>
	<title>Edit menu</title>
	<nav class="navigation">
	<img class="logo" src="http://placehold.it/200x50">
	<ul>
		<li class="menu-item"><a href="menu.html">Menus</a></li>
		<li class="menu-item"><a href="addmenu.html">Add menu</a></li>
		<li class="menu-item"><a href="editmenu.html">Edit menu</a></li>
		<li class="menu-item"><a href="order.html">Order</a></li>
		<li class="menu-item"><a href="profile.html">Profile</a></li>
		<li class="menu-item"><a href="about.html">About</a></li>
		<li class="menu-item"><a href="registrationform.html">Logout</a></li>
	</ul>
</nav>
</head>
<body>
	<div class="panel">
	<h3 class="panel-title">Edit menu</h3>
	<div class="input">
		<label class="input-label">Title</label>
		<input type="text" name="input" class="input-field" placeholder="Title menu">
	</div>
	<div class="input">
		<label class="input-label">Date</label>
		<input type="Date" name="input" class="input-field">
	</div>
	<div class="input">
		<label class="input-label">Food 1</label>
		<input type="text" name="input" class="input-field" placeholder="Felul 1">
	</div>
	<div class="input">
		<label class="input-label">Food 2</label>
		<input type="text" name="input" class="input-field" placeholder="Felul 2">
	</div>
		<div class="input">
		<label class="input-label">Desert</label>
		<input type="text" name="input" class="input-field" placeholder="Desert">
	</div>
	<button class="button" id="button-edit-menu">Edit menu</button>	
</div>





</body>
<footer class="footer">
	<ul>
		<li><a href="about.html">About</a></li>
		<li><a href="profile.html">Profile</a></li>
		<li><a href="about.html">Order</a></li>
	</ul>
	<p id="footer-rights">©Assist software 1992-2016. All rights reserved.</p>
</footer>
</html>
